:root {
  --orange: #A8301E;
  --grey: #707070;
  --peach:#E99183;
}

body {
  background-color: #FFFBF4;
  font-family: "Helvetica Neue";
  color: var(--grey);
  margin: 0;
}

#container {
  margin-left:  auto;
  margin-right: auto;
  max-width:900px;
}

#links img {
  height:20pt;
  width: 20pt;
}

div#header { 
  text-align: center;
} 

#title {
  font-family: "Zapfino";
  color: var(--grey);
}

#subtitle{
  margin-top:-40px;
  color:var(--orange);
}

nav a {
  padding: 10pt 10pt;
}

nav {
  margin-top: 40px ;
  color:var(--grey);
  font-weight:400;
}

nav a {
  text-decoration: none;
  color: var:(var(--grey));
}

nav a.selected span {
  border-bottom: solid var(--orange) 3px; 
}

#content {
  margin-top: 50pt;
} 

#title {
  font-size: 1.5em;
}

#content .profile-pic-container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  grid-area: "pic";
}

.profile-pic-container img{
  height: 200px;
  width: 200px;
  border-radius: 200px;
  border: solid 6px var(--peach) ;
}

#content {
  margin-left:  40px;
  margin-right:  40px;
  grid-area: "description";
}

#content br {
  display: block;  
  content: ""; 
  margin-top: 15px; 
}

.profile-pic-container img {
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% {
    opacity:0;
    margin-top: 50px;
  
  }
  100% {
    opacity:1; 
    margin-top: 0;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
    margin-top: 50px;
  
  }
  100% {
    opacity:1; 
    margin-top: 0;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
    margin-top: 50px;
  
  }
  100% {
    opacity:1; 
    margin-top: 0;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
    margin-top: 50px;
  
  }
  100% {
    opacity:1; 
    margin-top: 0;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
    margin-top: 50px;
  
  }
  100% {
    opacity:1; 
    margin-top: 0;
  }
}

@media only screen and (min-width: 700px) {



  #title {
    font-size: 2em;
  }

  #subtitle {
    
  }

  #content {
    display: grid;
    grid-template-areas: "pic content";
    grid-gap: 40px;
  }

  #content .profile-pic-container { 
    margin-top: 50px;
  }

  #content p {
    padding-left: 20px;
  }

}